* {outline:none;}

body {overflow-x: hidden;}

.bold-text {font-weight: bold!important;}
.semibold-text {font-weight: 500!important;}

.sidenav .background img {width: 100%; margin-top: -20px;}

@media screen and (min-width: 993px) {
    nav, .page {margin-left: 300px; width: calc(100vw - 300px);}
}

.collapsible .collapsible-header {background: #2e2e2e !important; border-bottom: 1px solid #252525;}
.collapsible .collapsible-body {border-bottom: 1px solid #252525;}

.collapsible .get .collapsible-header {border-left: 10px solid #37ff4b;}
.collapsible .post .collapsible-header {border-left: 10px solid #ff883c;}
.collapsible .put .collapsible-header,
.collapsible .patch .collapsible-header {border-left: 10px solid #3becff;}
.collapsible .delete .collapsible-header {border-left: 10px solid #ff4e49;}
.collapsible .all .collapsible-header {border-left: 10px solid #f631ff;}

.collapsible .collapsible-header span:first-child {margin-right: 10px;}
.collapsible .collapsible-header span:nth-child(2) {margin-left: 10px;}

#home hr {margin-bottom: 30px;}

#reference .about, #reference .examples {padding: 25px;}

#reference hr {height: 60.4px;}

#reference .about .method-and-endpoint {padding: 20px; border-radius: 4px;}

#reference .about .method-and-endpoint.get {background: #29d73d;}
#reference .about .method-and-endpoint.post {background: #d77034;}
#reference .about .method-and-endpoint.put,
#reference .about .method-and-endpoint.patch {background: #2bcad7;}
#reference .about .method-and-endpoint.delete {background: #d74541;}

#reference .about .method {padding: 10px; margin-right: 20px;}
#reference .about .method.get {background: #37ff4b;}
#reference .about .method.post {background: #ff883c;}
#reference .about .method.put,
#reference .about .method.patch {background: #3becff;}
#reference .about .method.delete {background: #ff4e49;}

#reference td, #reference th {padding: 15px 5px;}